<!DOCTYPE html>
<html>
<head>
    <title>Editable Div Example</title>
</head>
<body>
    <div id="editableDiv" contenteditable="true"><a class="yt-simple-endpoint style-scope yt-formatted-string" contenteditable="false" spellcheck="false" href="/channel/UCt4VFzXR1w9UdkG39xhriIA">@talksick9464</a></div>

    <script>
        const editableDiv = document.getElementById('editableDiv');

        // Add an event listener to capture changes in the editable div
        editableDiv.addEventListener('input', function() {
            const enteredText = editableDiv.innerText;
            console.log(enteredText);
            // You can perform any desired actions with the entered text here
        });

function one(param) {

    function two(val){
      return val + param
    }

return two
}


let one1 = one(5)
let two1 = one(10)

// console.log(one1(10))






console.log(aaa('aa'))
console.log(aaa('aa'))
console.log(aaa('aa'))

    </script>
</body>
</html>




